<ul style="list-style: none;padding-left:0">
  <li><span style="position: relative; padding-right: 20px"><span width="20" title="Planned" class="harvey"></span></span>&nbsp;<b>Planned</b> - Not yet implemented in GitLab, but on our roadmap.
  </li>
  <li><span style="position: relative; padding-right: 20px"><span title="Minimal" class="harvey quarters quarter"></span></span>&nbsp;<b>Minimal</b> - A minimal foundation so people can see where we're going and to validate customer need.
  </li>
  <li><span style="position: relative; padding-right: 20px"><span title="Viable" class="harvey quarters half"></span></span>&nbsp;<b>Viable</b> - Used by users/customers to solve real problems.
  </li>
  <li><span style="position: relative; padding-right: 20px"><span title="Complete" class="harvey quarters full"></span></span>&nbsp;<b>Complete</b> - Contains a competitive feature set sufficient to displace other single-purpose DevOps tools.
  </li>
  <li><span title="Lovable">♥</span>&nbsp;<b>Lovable</b> - Provides an elevated user experience that customers love.
  </li>
</ul>
